.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    height: 100vh;
    padding: 2em;
    margin-top: 0;  /* Top margin, you can adjust the value */
    margin-bottom: 0;
    background: linear-gradient(to bottom, #cfd8dc, #b0bec5, #90a4ae, #78909c, #607d8b);
  }

  .item-card {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 80%; /* You can adjust this */
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ddd; /* Optional border */
    border-radius: 10px; /* Optional rounded corners */
  }
  
  .item-image {
    flex-shrink: 0; /* Ensures the image doesn't shrink */
    width: 100px; /* Adjust based on your preference */
    height: 100px;
    border-radius: 50%; /* To make the image rounded */
    object-fit: cover; /* Ensures image content isn't distorted */
  }
  
  .item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  } 

  .quantity-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #E0E7FF; /* blue-gray-50 */
    border-radius: 20px;
    padding: 0.5em 1em;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
  
    /* Optional: Scale the button a bit when hovered */
    &:hover {
      transform: scale(1.1);
    }
  }