@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* .main{
  background: linear-gradient(to bottom, #90a4ae, #78909c, #546e7a, #37474f, #263238);
} */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1.5rem;  
    padding: 0;
    margin-top: 0;  /* Top margin, you can adjust the value */
    margin-bottom: 0;
    background: linear-gradient(to bottom, #cfd8dc, #b0bec5, #90a4ae, #78909c, #607d8b);
    min-height: 100vh;
  }
  

  .front-image {
    width: auto;
    height: 40vmin;
    max-height: 18rem;
  }

  .back-image {
    width: auto;
    height: 40vmin;
    max-height: 18rem;
  }
  
  /* ./src/App.css */
  .spinner {
    width: 24px;
    animation: loading infinite 3s linear;
  }
  
  .card-container {
    position: relative; 
    margin-top: 30px; /* this margin ensures that the textarea doesn't overlap with other content above */
}

.card-textarea {
    position: absolute;
    top: -30px; /* Adjust as needed */
    left: 0;
    z-index: 10; 
    resize: none; 
    border: 1px solid #ccc;
}


  @keyframes loading {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  

  
  body, #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
    padding: 0;
  }